/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/docs
/resources/docs

.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn.lock
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
node_modules
release

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.env.local
.env

dist/

.aliossrc
