// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900")
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css")

@import "~@mdi/font/css/materialdesignicons.css"

// Variables
@import 'variables'

$color-pack: true
@import '~vuetify/dist/vuetify.min.css'


.v-input.search
  .v-input__slot
    margin-top: 8px

//[Components / AppToolbar]
.app--toolbar
  .v-toolbar__extension
    padding: 0 !important


/* custom scrollbar

\::-webkit-scrollbar
  width: 20px

\::-webkit-scrollbar-track
  background-color: transparent

\::-webkit-scrollbar-thumb
  background-color: #d6dee1
  border-radius: 20px
  border: 6px solid transparent
  background-clip: content-box

  &:hover
    background-color: #a8bbbf


